<Center>
  <H1>Hello Rails!</H1>
  <P/>
  <H3>Ruby Version:</H3>
  <%= @ruby_ver %>
  <P/>
  <H3>Rails Version:</H3>
  <%= @rails_ver %>
  <P/>
  <H3>Environment:</H3>
  <%= @env %>
  <P/>
  <H3>Host Name:</H3>
  <%= @hostname %>
  <P/>
  <H3>Host IP:</H3>
  <%= @ip_addr %>
  <P/>
  <H3>Remote IP:</H3>
  <%= @remote_ip %>
  <P/>
  <H3>Time:</H3>
  <%= @current_time %>
  <P/>
</Center>
